<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Tiêu đề: {{ FOOD.title }}</h1>
    <h3>Mô tả: {{ FOOD.description }}</h3>
    <img src="{{ FOOD.link }}" alt="">
    {% if FOOD.type =="food" %}
        <p>Đây là đồ ăn</p>
    {% elif FOOD.type =="drink" %}
        <p>Đây là đồ uống</p>
    {% endif %}
</body>
</html>